<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- BOOTSTRAP STYLES-->
    <link href="/css/bootstrap.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link href="/css/font-awesome.css" rel="stylesheet" />
    <!--CUSTOM BASIC STYLES-->
    <link href="/css/basic.css" rel="stylesheet" />
    <!--CUSTOM MAIN STYLES-->
    <link href="/css/custom.css" rel="stylesheet" />

        <script
        src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    

</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" th:href="@{/dashboard}">SMART BUILDING</a>
            </div>

            <div sec:authorize="isAuthenticated()">
                <form id="logoutForm" method="POST" th:action="@{/logout}">
                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                </form>
                        <!--ALERT ICON-->
                <h2> <a  class="header-right" onclick="document.forms['logoutForm'].submit()"><i class="fa fa-sign-out fa-2x"></i></a></h2>
            </div>
        </nav>       

        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <li>
                        <div class="user-img-div">

                            <div sec:authorize="isAuthenticated()">
                                <h4 style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Welcome!  <span sec:authentication="name" ></span> </br>
                                </br>
                                Today: <span id="date"></span> </h4>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a  th:href="@{/dashboard}"><i class="fa fa-dashboard "></i>Dashboard</a>
                    </li>
                    
                    <li>
                        <a th:href="@{/air_quality}"><i class="fa fa-send-o "></i>Air-Quality </a>
                        
                    </li>

                      <li>
                        <a th:href="@{/people_counter}"><i class="fa fa-edit"></i>People Counter</a>
                    </li>
 
                    <li>
                        <a th:href="@{/body_temp_control}"><i class="fa fa-plus-square"></i>Body Temperature Control</a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-head-line">Body Temperatures Building Control  </h1> <h3><p th:text="'Building: ' + ${buildingIDBT} " /></h3>
                     

                        <h1 class="page-subhead-line">Here you can see all body temperatures of people inside building</h1>

                    </div>
                </div>
                <!-- /. ROW  -->

        <!----BUILDING INFO----------------------------------------------------------------------------------------------------->
        <strong>Building rooms info:</strong>

            <table style="table-layout: fixed ; width: 80%;" class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Room number</th>
                    <th>Floor Number</th>
                    <th>Max. body temperature allowed</th>
                    <th>Action          </th>      

                    </tr>

            </thead>
            <tbody>
                <tr th:each="room : ${roomsInfoBT}">
                    <td th:text="${room.room_number}"></td>
                    <td th:text="${room.floorNumber}"></td>
                    <td th:text="${room.maxTemperature}"></td>
                    <td > <a th:href="@{/searchStatsBodyTempControlRoom/{id}(id=${room.id})}" class="btn btn-primary">Room graphical info</a>
                </tr>
            </tbody>
        </table>
<br/>
<br>
<br>
<br/>
        <!----DATES------AND--------------SEACRH MORE--------------------------------------------------------------------------------->
        <div style="width: 100%; display: table;">
            <div style="display: table-row">
                    <div style="width: 600px; display: table-cell;"> 
                        <strong> Search for information about all rooms between a date range!</strong>
                        <form th:action="@{/roomsStatsSearchByDateBodyTemperaturesControlBuilding/{id}(id=${buildingBT_id})}"   method="get">
                            <div class="form-group"  style="width:65%">
                                <div class='input-group date' id='datetimepicker1'>
                                <input type='text' class="form-control" name="dateInit" />
                                <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                                </div>
                            </div>


                            <div class="form-group" style="width:65%">
                                <div class='input-group date' id='datetimepicker2'>
                                <input type='text' class="form-control" name="dateEnd" />
                                <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                                </div>
                            </div>
                            <button style="position:absolute; left: 610px;" stytype="submit">Seach</button>
                        </form>
                    </div>
                    <div div style="display: table-cell;">
                        <strong>Write a number to see more results! </strong>
                        <form th:action="@{/roomsStatsBodyTemperaturesControlBuilding/{id}(id=${buildingBT_id})}"   method="get">
                            <input placeholder="Insert a number" id="txtSearch" type="text" name="numResults">
                            <button type="submit">More Results</button>
                        </form>
                    </div>
                </div>
            </div>
            
            <br/>
            <br>
           
        <br/>

        <!--ALERT IMAGE ------------------------------------------------------------------------------------------------->
            <div class ="alert" style="position:absolute; left: 1640px; top:110px;">
                <label>Alert! See more below</label>
                <img style=" position: relative   " src="/img/alert.png" alt="alert" height="42" width="42">
            </div>


        <!--CHARTS-------------------------------------------------------------------------------------------------------->
        <div align="center" style="width: 1000px;">
           
            <div id="chart_div"  style="width: 1500px; height: 500px;" ></div>
            <div id="piechart" style="width: 1500px; height: 500px; "></div>
        </div>

        <!--AVERAGE RESULTS---------------------------------------------------------------------------------------------->
        <div  style="position:absolute; left: 820px;">
            <table  class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>        
                           Body temperatures people inside average (ºC)
                        </th>     
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td th:text="${bt_average}">ºC</td>
                    </tr>
                </tbody>
            </table>
            
        </div>

            <br>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            
            
        <!--DATE RANGE FOR AVERAGE RESULTS -------------------------------------------------------------------------------------->
        <form th:action="@{/roomsStatsBodyTemperaturesControlBuilding/{id}(id=${buildingBT_id})}"   method="get">
            <label for="timesAvgForm">Choose a time range:</label>
            <select id="timesAvg" name="timesAvg">
            <option value="15"selected>15 min</option>
            <option value="30">30 min</option>
            <option value="45" >45 min</option>
            <option value="60">1 hour</option>
            </select>
            <input type="submit">
        </form>


        <!---Average------------------------------------------------------------------------------------------------------------->
        <div align="center" style="width: 1000px;">
            <div id="chart_divAverage"  style="width: 1500px; height: 500px;" ></div>
        </div>

   
        
<br/>
<br>
<br/>
<br>
        <!--ALERTS INFO------------------------------------------------------------------------------------------------------------>
        <div class="alertsDiv">
                <h4><strong>Alerts</strong></h4>

                    <table style="width: 65%; margin-left: 36px;" class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>    
                                    Building Name
                            </th>  
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="bt : ${alerts_BTBuilding}"

                        <div  class="alert alert-danger">
                            <td th:text="${bt}"> </td>
                        </div>
                        </tr>
                    </tbody>
                </table>
        </div>

  
    
</div>
              
           

 
            </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>




 

    
    <div id="footer-sec">
        &copy; 2020/2021 SMART BUILDING - IES - UA 

        <!--<span th:text="${data}"></span> (isto foi so pra experimentar)-->
    </div>



    <script>
        n =  new Date();
        y = n.getFullYear();
        m = n.getMonth() + 1;
        d = n.getDate();
        document.getElementById("date").innerHTML = d + "/" + m + "/" + y;
    </script>
    <p id="demo"></p>

    <script>
        var d = new Date();
        var h = d.getHours();
        var m = d.getMinutes();
        document.getElementById("hour").innerHTML = h + ":" + m ;
        
    </script>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
        $(document).ready(function () { 
            $('.alert').hide();
            $('.alertsDiv').hide();
        });
        
    </script>

    

    <script th:inline="javascript">
        var real_data = /*[[${graph_Bars_BTBuilding}]]*/'noValue';
 
        $(document).ready(function() {
            google.charts.load('current', {
                packages : [ 'corechart', 'bar' ]
            });
            google.charts.setOnLoadCallback(drawColumnChart);
            
            google.charts.setOnLoadCallback(drawPieChart);
            
            google.charts.setOnLoadCallback(drawColumnChartAvg);

        });
 
        function drawColumnChart() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Date');
            data.addColumn('number', 'People');
            data.addColumn({type: 'string', role: 'style'});

            var alert = false;
            Object.keys(real_data).forEach(function(key) {
                const warn = key.slice(key.length-1);
                console.log(warn);
                
                if(warn == "W"){
                    var res = key.split("/");
                    alert= true;

                    console.log(res[0]);
                    data.addRow([res[0].concat("\n Room: " +res[1]) , real_data[key],  "color:#d9534f"]);

                }else{
                    var res = key.split("/");

                    data.addRow( [res[0].concat("\n Room: " +res[1]) , real_data[key],  "#4c7f1a"]);

                }

                if(alert){
                    $(".alert").show();
                    $('.alertsDiv').show();
                }
            });
            
            
            
            var options = {
                title : 'Body Temperatures People inside (all rooms)',

                hAxis : {
                    title : 'Date(MM-dd-yyyy HH:mm)',
                },
                vAxis : {
                    title : 'Body Temperatures (ºC)'
                }
            };



            var chart = new google.visualization.ColumnChart(document
                    .getElementById('chart_div'));
            chart.draw(data, options);
        }
 


            
            var real_data_pie = /*[[${graphPieBTBuilding}]]*/'noValue';
            
            function drawPieChart() {
                var data = new google.visualization.DataTable();
                data.addColumn('string', 'BT');
                data.addColumn('number', '%');
                Object.keys(real_data_pie).forEach(function(key) {
                    data.addRow([ key, real_data_pie[key]*10 ]);
                });
                var options = {
                    title : 'Body Temperatures inside a room',
                    hAxis : {
                        title : 'Body Temperatures',
                    },
                    vAxis : {
                        title : 'Total Occurrences (%)'
                    }
                };
                var chart = new google.visualization.ColumnChart(document
                        .getElementById('piechart'));
                chart.draw(data, options);
            }


            //<!--AVERAGE-->
            var real_dataAvg = /*[[${datesBT_AvgByRange}]]*/'noValue';

            function drawColumnChartAvg() {
                var data = new google.visualization.DataTable();
                data.addColumn('string', 'Date');
                data.addColumn('number', 'Body Temperature');
                data.addColumn({type: 'string', role: 'style'});
    
                var alert = false;
                Object.keys(real_dataAvg).forEach(function(key) {
                
                   
                    data.addRow([key , real_dataAvg[key],  "color:#DE9233"]);
    
                  
                 
                });
                
                
                
                var options = {
                    title : 'Body Temperatures People Stats ',
                    hAxis : {
                        title : 'Date by specific range',
                    },
                    vAxis : {
                        title : 'Body Temperatures People Inside Building'
                    }
                };
    
    
    
                var chart = new google.visualization.ColumnChart(document
                        .getElementById('chart_divAverage'));
                chart.draw(data, options);
            }
    </script>














  

    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/momentjs/2.14.1/moment.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script type="text/javascript">
        $(function () {
            $('#datetimepicker1').datetimepicker();
        });
        $(function () {
            $('#datetimepicker2').datetimepicker();
        });
     </script>

 
 
 

</body>
</html>
