<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- BOOTSTRAP STYLES-->
    <link href="/css/bootstrap.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link href="/css/font-awesome.css" rel="stylesheet" />
    <!--CUSTOM BASIC STYLES-->
    <link href="/css/basic.css" rel="stylesheet" />
    <!--CUSTOM MAIN STYLES-->
    <link href="/css/custom.css" rel="stylesheet" />

        <script
        src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    

</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" th:href="@{/dashboard}">SMART BUILDING</a>
            </div>

            <div sec:authorize="isAuthenticated()">
                <form id="logoutForm" method="POST" th:action="@{/logout}">
                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                </form>
                        <!--ALERT ICON-->
                <h2> <a  class="header-right" onclick="document.forms['logoutForm'].submit()"><i class="fa fa-sign-out fa-2x"></i></a></h2>
            </div>
        </nav>       

        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <li>
                        <div class="user-img-div">

                            <div sec:authorize="isAuthenticated()">
                                <h4 style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Welcome!  <span sec:authentication="name" ></span> </br>
                                </br>
                                Today: <span id="date"></span> </h4>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a  th:href="@{/dashboard}"><i class="fa fa-dashboard "></i>Dashboard</a>
                    </li>
                    
                    <li>
                        <a th:href="@{/air_quality}"><i class="fa fa-send-o "></i>Air-Quality </a>
                        
                    </li>

                      <li>
                        <a th:href="@{/people_counter}"><i class="fa fa-edit"></i>People Counter</a>
                    </li>
 
                    <li>
                        <a th:href="@{/body_temp_control}"><i class="fa fa-plus-square"></i>Body Temperature Control</a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-head-line">Sensor History  </h1> <h4><p th:text="'Sensor: ' + ${sensorInfoID}   " /></h4><h4><p th:text="'Sensor type: ' + ${sensorType}   " /></h4>
                        <h4><p th:text="'Max. value allowed: ' + ${sensorMaxValue}  " /></h4>

                        <h1 class="page-subhead-line"></h1>


                    </div>
                </div>
                <!-- /. ROW  -->

        <!----BUILDING INFO----------------------------------------------------------------------------------------------------->
        <div div style="display: table-cell;">
            <strong>Write a number to see more/less items! </strong>
            <form th:action="@{/moreInfoSensor/{id}(id=${sensor.id})}"   method="get">
                <input placeholder="Insert a number" id="txtSearch" type="text" name="numItems">
                <button type="submit">Results</button>
            </form>
        </div>
        <!--
        <p> isto em baixo para mudar nao funciona,
            se conseguires meter ele a passar para a funcao do controller
            estes dados como argumentos, entao vai dar
        </p>
        <div>
        <label for="noItemsInPage">items to show</label>
        <input id="noPages" type="number">
        </div>
        <div>
        <label for="pageToShow">page to show</label>

            <input id="pageToShow" type="number">
        </div>
        <a th:href="@{/moreInfoSensor/{id}(id=${sensor.id})}"><button>pls help</button></a>-->
        <!-- onclick="console.log(document.getElementById('noItemsInPage').value)" -->
        <!--@{/saveUpdatedRoom/{id}(id=${room.id})}-->
        <br/>
        <br/>
        <table style="width: 65%; margin-left: 36px;" class=" table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Timestamp</th>
                    <th>Value</th>
                    <th>Alert</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr th:each="s : ${sensorInfo}">
                    <td  width= 2%; th:text="${s.timestamp}"></td>
                    <td  width= 3%; th:text="${s.value}"></td>
                    <td width= 2%; th:text="${s.warn}"></td>
                    
                </tr>
            </tbody>
        </table>
<br/>
<br>
<br>
<br/>
        













    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/momentjs/2.14.1/moment.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>

    <script type="text/javascript">
        $(function () {
            $('#datetimepicker1').datetimepicker();
        });
        $(function () {
            $('#datetimepicker2').datetimepicker();
        });
     </script>
     <script>
        n =  new Date();
        y = n.getFullYear();
        m = n.getMonth() + 1;
        d = n.getDate();
        document.getElementById("date").innerHTML = d + "/" + m + "/" + y;
    </script>

</body>
</html>
